html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* УБИРАЕТ СКРОЛЛ */
}

body {
  display: block;
}

canvas {
  display: block; /* убирает лишний отступ снизу */
}

#game {
  width: 100vw;
  height: 100vh;
}